<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">
    <xacro:include filename="$(find description_omni_caster)/urdf/base.urdf.xacro" />
    <xacro:include filename="$(find description_omni_caster)/urdf/actuator/caster.urdf.xacro" />

    <xacro:include filename="$(find description_omni_caster)/urdf/sensor/imu.urdf.xacro" />
    <xacro:include filename="$(find description_omni_caster)/urdf/sensor/laser.urdf.xacro" />
    <xacro:include filename="$(find description_omni_caster)/urdf/sensor/camera.urdf.xacro" />

    <!-- math -->
    <xacro:property name="cos30" value="0.86602" />
    <xacro:property name="sin30" value="0.5" />
    <!-- declare active_omni_directional_caster params -->
    <xacro:property name="h" value="0.3" /><!-- h是偏执舵轮与底盘安装点与底盘中心距离  应当 大于 offset+wheel_radius -->
    <xacro:property name="wheel_radius" value="0.1" />
    <xacro:property name="wheel_length" value="0.06" />
    <xacro:property name="steering_radius" value="0.1" />
    <xacro:property name="steering_length" value="0.02" />
    <xacro:property name="offset" value="0.05" />
    <xacro:property name="chassis_length" value="0.03" />
    <xacro:property name="chassis_radius" value="0.4" />

    <!-- <xacro:base_xacro radius="0.2" length="0.1" /> -->
    <xacro:base_xacro length="${chassis_length}" radius="${chassis_radius}" base_footprint_hight="${0.001+2.0*wheel_radius+steering_length+chassis_length/2.0}" />

    <xacro:caster_xacro wheel_name="left" chassis_length="${chassis_length}" wheel_radius="${wheel_radius}" wheel_length="${wheel_length}" steering_radius="${steering_radius}" steering_length="${steering_length}"  offset="${offset}" steering_x="${-h*sin30}" steering_y="${h*cos30}"/>
    <xacro:caster_xacro wheel_name="right" chassis_length="${chassis_length}" wheel_radius="${wheel_radius}" wheel_length="${wheel_length}" steering_radius="${steering_radius}" steering_length="${steering_length}"  offset="${offset}" steering_x="${-h*sin30}" steering_y="${-h*cos30}"/>
    <xacro:caster_xacro wheel_name="forward" chassis_length="${chassis_length}" wheel_radius="${wheel_radius}" wheel_length="${wheel_length}" steering_radius="${steering_radius}" steering_length="${steering_length}"  offset="${offset}" steering_x="${h}" steering_y="0"/>
    <xacro:imu_xacro xyz="0 0 0.02" />
    <xacro:laser_xacro xyz="0 0 0.08" />
    <xacro:camera_xacro xyz="0.402 0 0.05" />

    <xacro:include filename="$(find description_omni_caster)/urdf/chassis.ros2_control.xacro" />
    <xacro:caster_ros2_control />
    <xacro:include filename="$(find description_omni_caster)/urdf/plugins/gazebo_sensor_plugin.xacro" />
    <xacro:gazebo_sensor_imu />
</robot>
